/*Brand Colors

Brief Cards: 
Background: Blue #486DB4
Font: #f7f4ed

Button Colors: 
Background: Purple #9E8DBE

Type:
On bg: #f7f4ed


Other colors:

royal blue: #1E2054
ICE BLUE: # CCDFEF
Lavender: #D1B4D6
Elsa: #f8f5ed

Background color: #f7f4ed
*/

body {
  background-color: #f7f4ed;
}

h1{
  color: #426cc2;
  font-family: "neulis-neue", sans-serif;
  font-family: neulis-neue, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 170px;
  text-align: center;
  font-size: 95px;
  padding: 40px 0;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c9b2ea;
  color: white;
  margin-top: 200px;
  text-align: center;
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-logo {
  padding-top: 50px;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color:#f8f5ed;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid #9E8DBE;
  background-color: #9E8DBE;
  white-space: nowrap;
  font-size: 20px;
  font-family: neulis-neue, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-container .navbar-menu li a:hover {
  color:#f8f5ed;
  background-color:#426cc2;
  border: 2px solid #426cc2;
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background:#9E8DBE;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-size: 1.3rem;
  color: #f7f4ed;
  display: flex;
  flex-direction: column;
  font-family: neulis-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.upload-copy{
  color: black;
}

.weekly-header {
  text-align: center;
  font-size: 95px;
  padding: 40px 0;
}

.weekly-headline {
  font-size: 10rem;
  margin: 0;
  z-index: 1;
  position: relative;
}

.brief_image1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.brief-container {
  display: flex;
  justify-content: center;

}

.brief-brand {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;;
  padding: 30px;
  width: 300px;
  height: 400px;
  font-size: 5.5rem;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

h3 {
  font-size: 2rem;
  margin: 0;
  color: #CCDFEF;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h4{
  padding-top: 0;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
}

.brief-brand-copy {
  font-size: 1.3rem;
  margin-top: -100px;
}

.brief-asks {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 300px;
  height: 400px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 1.3rem;
  
}

.brief-asks-header{
  color: #c9b2ea;
}

.brief-asks-copy {
  color:#f8f5ed;
  font-size: 1.3rem;
}

.brief-deliverables {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 300px;
  height: 400px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 5rem;
  
}

div {
  position: relative;
  z-index: 1;
  color: black;
}

.form {
    text-align: center;

}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.archive-container {
  overflow: hidden;
  display: inline;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.archive-button{
  justify-content: center;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.filterDiv {
  float: left;
  color: #f8f5ed;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.brief-icon{
  border-radius: 30px;
  display: block;
  margin-right: 30px;
}

.show {
  display: block;
}

.btn {
  border: none;
  border-radius: 30px;
  outline: none;
  padding: 12px 16px;
  background-color: #f8f5ed;
  cursor: pointer;
  font-size: 20px;

}

.btn:hover {
  background-color: #426cc2;
}

.btn.active {
  background-color: #9E8DBE;
  color: white;
}

.brief-label {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: -1;
  padding: 5px 10px;
  background-color: rgba(158, 141, 190, 0.5);
  color: white;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brief-card {
  display: block;
  position: relative;
  text-decoration: none;
}

.filterDiv:hover .brief-label {
  opacity: 1;
}

.tag{
  display: inline-flex;
  border-radius: 30px;
  color: #CCDFEF;
  border: 2px solid #9E8DBE;
  background-color: #9E8DBE;
  font-size: 20px;
  border-width: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.archive-brand{
  display: inline-flex;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 40px;
  padding: 50px;
  width: 1000px;
  height: 100px;
  font-size: 2rem;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.archive-live{
  display: inline-flex;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 40px;
  padding: 50px;
  width: 100px;
  height: 100px;
  font-size: 2rem;
}

.archive-image{
  display: inline-flex;
    border-radius: 40px;
  padding: 30px;
}

.archive-deliverables{
  display: block;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 40px;
  padding: 30px;
  width: 950px;
  height: 400px;
  font-size: 2rem;
}

.upload-copy{
  padding-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
}

.archive-brief-container{
  justify-content: space-between;
}

/* Nav Bar Responsive */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu {
    display:none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 70px;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    background-color:#f7f4ed;
  }

  .navbar-container .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}

.scroll-gallery-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 200%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.gallery-container {
  display: flex;
  gap: 50px;
  overflow-x: auto;
}

.gallery-item {
  width: 800px;
  height: 850px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 60px;
  padding: 15px;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}

.scroll-btn:hover {
  color: #fff;
}

.scroll-btn.left {
  left: -10px;
}

.scroll-btn.right {
  right: -10px;
}

@media (max-width: 375px) {
  .navbar-container {
    padding: 0 1rem;
  }

  .navbar-logo {
    font-size: 1.7rem;
  }

  .navbar-container .navbar-menu li a {
    font-size: 1.2rem;
    padding: 3px 15px;
  }
}
 /*brief image*/
@media (max-width: 3000px) {
  .weekly-headline {
    font-size: 15rem;
  }

  .brief_image1 {
    width: 60%;
    padding: 30px;
    top: 185%;
  }

  .brief-container {
    padding-top: 550px;
  }
}

@media (max-width: 2000px) {
  .weekly-headline {
    font-size: 13rem;
  }

  .brief_image1 {
    width: 50%;
    padding: 16px;
    top: 140%;
  }

    .brief-container {
    padding-top: 350px;
    justify-items: center;
  }

}

@media (max-width: 800px) {
  .weekly-headline {
    font-size: 20rem;
  }

  .brief_image1 {
    top: 200%;
    width: 65%;
    padding: 16px;
  }

  .brief-container {
    padding-top: 350px;
    display: block;
    justify-items: center;
  }
}
 /*brief image*/
@media (max-width: 932px) {
  .weekly-headline {
    padding-top: 50px;
    font-size: 6rem;
    line-height: 80px;
  }

  .brief_image1 {
    width: 90%;
    top: 143%;
  }

  .brief-container {
    padding-top: 300px;
    display: inline;
    justify-items: center;
  }
}
@media screen and (max-width: 390px) {
  .weekly-headline {
    font-size: 5rem;
    line-height: 80px;
  }

  .brief_image1 {
    width: 90%;
    padding: 12px;
    top: 100%;
  }

  .brief-container {
  padding-top: 100px;
  display: inline;
  justify-items: center;
  }
}