/*Brand Colors

Brief Cards: 
Background: Blue #486DB4
Font: #f7f4ed

Button Colors: 
Background: Purple #9E8DBE

Type:
On bg: #f7f4ed


Other colors:

royal blue: #1E2054
ICE BLUE: # CCDFEF
Lavender: #D1B4D6
Elsa: #f8f5ed

Background color: #f7f4ed
*/

body {
  background-color: #f7f4ed;
}

h1{
  color: #426cc2;
  font-family: "neulis-neue", sans-serif;
  font-family: neulis-neue, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 170px;
  text-align: center;
  font-size: 95px;
  padding: 40px 0;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c9b2ea;
  color: white;
  margin-top: 200px;
  text-align: center;
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
}

  .active-time{
    color: #c9b2ea;
    font-size: 1.3rem;
    line-height: 20px;
  }

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}

.navbar-logo {
  padding-top: 50px;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
}

.navbar-container .navbar-menu li a {
  text-decoration: none;
  color:#f8f5ed;
  padding: 3px 20px;
  border-radius: 20px;
  border: 2px solid #9E8DBE;
  background-color: #9E8DBE;
  white-space: nowrap;
  font-size: 20px;
  font-family: neulis-neue, sans-serif;
  font-weight: 700;
  font-style: italic;
}

.navbar-container .navbar-menu li a:hover {
  color: #f8f5ed;
  background-color: #426cc2;
  border: 2px solid #426cc2;
}

.navbar-toggle {
  display: none;
  background: transparent;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background:#9E8DBE;
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-size: 1.3rem;
  color: #f7f4ed;
  display: flex;
  flex-direction: column;
  font-family: neulis-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.upload-copy{
  color: black;
}

.weekly-header {
  text-align: center;
  font-size: 95px;
  padding: 40px 0;
}

.weekly-headline {
  font-size: 10rem;
  margin: 0;
  z-index: 1;
  position: relative;
}

.brief_image1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 60%;
  padding: 20px;
  text-align: center;
}

.brief-container {
  display: flex;
  justify-content: center;

}

.brief-brand {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 300px;
  height: 400px;
  font-size: 5.5rem;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

h2{
  font-size: 2rem;
  margin: 0;
  color: #CCDFEF;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h3{
  padding-top: 0;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 80px;
}

.subtext{
  color:#1E2054;
  margin: auto;
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 50px;
}

.subtext-weekly{
  color:#1E2054;
  margin: auto;
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 50px;
  font-size: 2rem;
}

.brief-brand-copy {
  font-size: 1.3rem;
  margin-top: -100px;
}

.brief-asks {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 300px;
  height: 400px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 1.3rem;
  
}

.brief-asks-header{
  color: #c9b2ea;
}

.brief-asks-copy {
  color:#f8f5ed;
  font-size: 1.3rem;
}

.brief-deliverables {
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 300px;
  height: 400px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 4.5rem;
  
}

div {
  position: relative;
  z-index: 1;
  color: black;
}

.form {
    text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.archive-container {
  overflow: hidden;
  display: inline;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 350px;
}

.archive-button{
  justify-content: center;
  margin: auto;
}

.filterDiv {
  float: left;
  color: #f8f5ed;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}

.brief-icon{
  border-radius: 30px;
  display: block;
  margin-right: 30px;
}

.show {
  display: block;
}

.btn {
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  color: #1e2054;
  border-radius: 30px;
  outline: none;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: #f8f5ed;
  cursor: pointer;
  font-size: 20px;

}

.btn:hover {
  color: #f8f5ed;
  background-color: #426cc2;
}

.btn.active {
  background-color: #9E8DBE;
  color: white;
}

.brief-label {
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  border: none;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: -1;
  padding-top: 5px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgba(158, 141, 190, 0.5);
  color: white;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.brief-card {
  display: block;
  position: relative;
  text-decoration: none;
}

.filterDiv:hover .brief-label {
  opacity: 1;
}

.tag{
  margin-left: 225px;
  display: inline-flex;
  border-radius: 30px;
  font-family: kit-rounded, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f8f5ed;
  border: 2px solid #9E8DBE;
  background-color: #9E8DBE;
  font-size: 20px;
  padding-top: 6px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
}


.archive-brief-container{
  margin: auto;
  display: grid;
  column-count: 3;
  grid-template-columns: 980px 300px 300px 100px;
  grid-template-rows: 220px 150px 0px 0px;
  gap: 5px;
  justify-content: center;
  justify-content: space-between
}

h4{
  padding-top: 140px;
  padding-bottom: 100px;
  color: #1e2054;
  font-family: "neulis-neue", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1px;
  text-align: left;
  font-size: 160px;
}

.archive-brief-title{
  margin: auto;
  padding-top: 90px;
  padding-bottom: 50px;
  z-index: 1;
  position: relative;
}

.archive-brand{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 40px;
  border-width: 4px;
  padding: 10px 30px 30px 30px;
  width: 900px;
  height: 155px;
  font-size: 3rem;
}

.archive-live{
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  text-align: center;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 30px;
  border-width: 4px;
  padding: 30px;
  width: 150px;
  height: 140px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  font-size: 3.5rem;
}

.archive-image{
  width: 360px;
  border-radius: 30px;
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.archive-deliverables{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  border-style: solid;
  border-color: #426cc2;
  background-color: #426cc2;
  color:#f8f5ed;
  border-radius: 40px;
  padding: 30px;
  width: 1185px;
  height: 250px;
  font-size: 2.5rem;
}

.archive-nav {
  display: grid;
  margin-left: 20px;
  justify-content: center;
  padding-bottom: 300px;
  gap: 1.5rem;
}

.nav-btn-prev {
  grid-row: 9;
  grid-column: 1;
  background-color: #9E8DBE;
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  font-size: 2rem;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.nav-btn-back {
  grid-row: 9;
  grid-column: 2;
  background-color: #9E8DBE;
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  font-size: 2rem;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.nav-btn-next {
  grid-row: 9;
  grid-column: 3;
  background-color: #9E8DBE;
  color: white;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  font-size: 2rem;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #7e6aa6;
}


.upload-copy{
  text-align: center;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 30px;
}

.upload-form{
  display: flex;
  justify-content: center;
  color: #9E8DBE;
}

.error{
  color: #1e2054;
  display: flex;
  justify-content: center;
}
.uploading{
  color: #426cc2;
  display: flex;
  justify-content: center;
}
.success{
  color: #9E8DBE;
  display: flex;
  justify-content: center;
}

/* Nav Bar Responsive */
@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }

  .navbar-container .navbar-menu {
    display:none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 70px;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    background-color:#f7f4ed;
  }

  .navbar-container .navbar-menu.active {
    display: flex;
  }

  .navbar-toggle {
    display: block;
    z-index: 999;
  }
  .navbar-toggle.active .bar:nth-child(2){
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* Gallery Responsive */
.scroll-gallery-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 200%;
  max-width: 2000px;
  margin: auto;
  overflow:auto;
}

.gallery-container {
  display: flex;
  gap: 50px;
  overflow-x: auto;
}

.gallery-item {
  width: 800px;
  height: 850px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.scroll-btn {
  position:fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 80px;
  padding: 15px;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  color: #c9b2ea;
}

.scroll-btn:hover {
  color: #fff;
}

.scroll-btn.left {
  left: -10px;
}

.scroll-btn.right {
  right: -12px;
}

/*Desktop Sizing*/
@media (max-width: 3000px) {
  .weekly-headline {
    font-size: 15rem;
  }

  .brief_image1 {
    width: 60%;
    padding: 30px;
    top: 185%;
  }

  .brief-container {
    padding-top: 550px;
  }
}

@media (max-width: 2000px){
  .weekly-headline {
    font-size: 13rem;
  }

  .brief_image1 {
    width: 50%;
    padding: 16px;
    top: 140%;
  }

    .brief-container {
    padding-top: 350px;
    justify-items: center;
  }

}


@media (max-width: 1700px){
    .weekly-headline {
    padding-top: 50px;
    font-size: 6rem;
    line-height: 30px;
  }

  .brief_image1 {
    width: 80%;
    top: 193%;
  }
  .subtext-weekly {
    font-size: 1.5rem;
  }

  .brief-container{
    margin: auto;
    padding-top: 100px;
    display: grid;
    gap: 80px;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: 100px 100px 200px 300px;
    justify-items: center;
  }

  .brief-asks{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    max-width: 200px;
    font-size: 1.2rem;
  }
  .brief-brand{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 190px;
    font-size: 3rem;
  }
  .brief-deliverables{
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      max-width: 190px;
      font-size: 1 rem;
  }

  h2{
    font-size: 1rem;
    line-height: 20px;
  }

  h3{
    font-size: 3rem;
    line-height: 40px;
    padding-bottom: 70px;
  }

  /* Gallery Responsive */
  .scroll-gallery-wrapper {
    width: 300%;
    max-width: 500px;
  }

  .gallery-container {
    display: flex;
    gap: 5px;
  }

  .gallery-item {
    width: 500px;
    height: 620px;
  }
    .archive-brief-container{
    display: grid;
    column-count: 2;
    grid-template-columns: 300px 100px 100px;
    grid-template-rows: 190px 200px 150px;
    gap: 30px;
  }

  .archive-brief-title{
    padding-left: 20px;
    font-size: 5rem;
    line-height: 80px;
  }

  .archive-container{
    width: 70%;
    height: 40%;
    margin: auto;
    padding-top: 20px;
  }

  .archive-button{
    padding-left: 20px;
  }

  .brief-icon{
    width: 200px;
    height: 310px;
  }

  .archive-brand{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 2 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .archive-live{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    padding: 5px 30px 40px 30px;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }

  .tag{
    margin-left: 40px;
    
  }
  .upload-tag{
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .archive-image{
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    width: 190px;
    font-size: 2rem;
  }

  .archive-deliverables{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 4 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .nav-btn-prev {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-back {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-next {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }
}

/*Tablet Sizing*/
@media (max-width: 965px) {
  .weekly-headline {
    padding-top: 50px;
    font-size: 6rem;
    line-height: 30px;
  }

  .brief_image1 {
    width: 80%;
    top: 143%;
  }
  .subtext-weekly {
    font-size: 1.5rem;
  }

  .brief-container{
    margin: auto;
    padding-top: 100px;
    display: grid;
    gap: 80px;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: 100px 100px 200px;
    justify-items: center;
  }

  .brief-asks{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    max-width: 200px;
    font-size: 1.2rem;
  }
  .brief-brand{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 190px;
    font-size: 3rem;
  }
  .brief-deliverables{
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      max-width: 190px;
      font-size: 1 rem;
  }

  h2{
    font-size: 1rem;
    line-height: 20px;
  }

  h3{
    font-size: 3rem;
    line-height: 40px;
    padding-bottom: 70px;
  }

  /* Gallery Responsive */
  .scroll-gallery-wrapper {
    width: 300%;
    max-width: 500px;
  }

  .gallery-container {
    display: flex;
    gap: 5px;
  }

  .gallery-item {
    width: 500px;
    height: 620px;
  }
  .archive-brief-container{
    display: grid;
    column-count: 2;
    grid-template-columns: 300px 100px 100px;
    grid-template-rows: 190px 200px 150px;
    gap: 30px;
  }

  .archive-brief-title{
    padding-left: 120px;
    font-size: 5rem;
    line-height: 80px;
  }

  .archive-container{
    width: 70%;
    height: 40%;
    margin: auto;
    padding-top: 20px;
    padding-left: 190px;
  }
  .archive-nav{
    justify-content: center;
    margin: auto;
  }
  .archive-button{
    padding-left: 20px;
  }

  .brief-icon{
    width: 200px;
    height: 310px;
  }

  .archive-brand{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 2 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .archive-live{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    padding: 5px 30px 40px 30px;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }

  .tag{
    margin-left: 40px;
    
  }
  .upload-tag{
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .archive-image{
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    width: 190px;
    font-size: 2rem;
  }

  .archive-deliverables{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 4 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .nav-btn-prev {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-back {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-next {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }
}

@media (max-width: 900px){
  .weekly-headline {
    padding-top: 50px;
    font-size: 6rem;
    line-height: 30px;
  }

  .brief_image1 {
    width: 80%;
    top: 143%;
  }
  .subtext-weekly {
    font-size: 1.5rem;
  }

  .brief-container{
    margin: auto;
    padding-top: 100px;
    display: grid;
    gap: 60px;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: 100px 100px 200px;
    justify-items: center;
  }

  .brief-asks{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    max-width: 170px;
    font-size: 1rem;
  }
  .brief-brand{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 170px;
    font-size: 3rem;
  }
  .brief-deliverables{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    max-width: 160px;
    font-size: 1rem;
  }

  h2{
    font-size: 1rem;
    line-height: 20px;
  }

  h3{
    font-size: 2.5rem;
    line-height: 40px;
    padding-bottom: 70px;
  }

  /* Gallery Responsive */
  .scroll-gallery-wrapper {
    width: 300%;
    max-width: 500px;
  }

  .gallery-container {
    display: flex;
    gap: 5px;
  }

  .gallery-item {
    width: 500px;
    height: 620px;
  }

  /* Archive main Responsive */
  .archive-brief-container{
    display: grid;
    column-count: 2;
    grid-template-columns: 300px 100px 100px;
    grid-template-rows: 190px 200px 150px;
    gap: 30px;
  }

  .archive-brief-title{
    padding-left: 20px;
    font-size: 5rem;
    line-height: 80px;
  }

  .archive-container{
    padding-left: 140px;
    width: 70%;
    height: 40%;
    padding-top: 20px;
  }

  .archive-button{
    padding-left: 20px;
  }

  .brief-icon{
    width: 200px;
    height: 310px;
  }

  .archive-brand{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 2 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .archive-live{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    padding: 5px 30px 40px 30px;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }

  .tag{
    margin-left: 40px;
    
  }
  .upload-tag{
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .archive-image{
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    width: 190px;
    font-size: 2rem;
  }

  .archive-deliverables{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 4 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .archive-nav{
    justify-content: center;
    margin: auto;
  }

  .nav-btn-prev {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-back {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-next {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }
}

@media screen and (max-width:800px) {
  .weekly-headline {
    padding-top: 50px;
    font-size: 6rem;
    line-height: 70px;
  }

  .brief_image1 {
    width: 80%;
    top: 123%;
  }
  .subtext-weekly {
    font-size: 1.3rem;
    padding-bottom: 15px;
  }

    .active-time{
    font-size: .5rem;
    line-height: 10px;
  }

  .brief-container{
    margin: auto;
    padding-top: 100px;
    display: grid;
    gap: 5px;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: 100px 100px 200px;
    justify-items: center;
  }

  .brief-asks{
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    max-width: 130px;
    max-height: 195px;
    font-size: .7rem;
  }
  .brief-brand{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 130px;
    max-height: 195px;
  }
  .brief-deliverables{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    max-width: 130px;
    max-height: 195px;
    font-size: .6rem;
  }

  .brief-asks-header{
    font-size: .7rem;
  }

  .brief-brand-copy{
    font-size: .8rem;
  }

  .brief-asks-copy{
    font-size: .7rem;
  }

  h2{
    font-size: 1rem;
    line-height: 20px;
  }

  h3{
    font-size: 2rem;
    line-height: 40px;
    padding-bottom: 70px;
  }

  /* Gallery Responsive */
  .scroll-gallery-wrapper {
    width: 300%;
    max-width: 500px;
  }

  .gallery-container {
    display: flex;
    gap: 5px;
  }

  .gallery-item {
    width: 500px;
    height: 620px;
  }

  /* Archive main Responsive */
  .archive-brief-container{
    display: grid;
    column-count: 2;
    grid-template-columns: 300px 100px 100px;
    grid-template-rows: 190px 200px 150px;
    gap: 30px;
  }

  .archive-brief-title{
    padding-left: 20px;
    font-size: 5rem;
    line-height: 80px;
  }

  .archive-container{
    padding-left: 70px;
    width: 70%;
    height: 40%;
    padding-top: 20px;
  }

  .archive-button{
    padding-left: 20px;
  }

  .brief-icon{
    width: 200px;
    height: 310px;
  }

  .archive-nav{
    justify-content: center;
    margin: auto;
  }

  .archive-brand{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 2 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .archive-live{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    padding: 5px 30px 40px 30px;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }

  .tag{
    margin-left: 40px;
    
  }
  .upload-tag{
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .archive-image{
    grid-column: 2/ span 2;
    grid-row: 1/ span 2;
    width: 190px;
    font-size: 2rem;
  }

  .archive-deliverables{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 4 / span 2;
    border-radius: 35px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
  }

  .nav-btn-prev {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-back {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-next {
    margin: auto;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }
}
/*Iphone Sizing*/
@media screen and (max-width: 660px) {
  .weekly-headline {
    font-size: 5rem;
    line-height: 80px;
  }

  .brief_image1 {
    width: 75%;
    padding: 12px;
    top: 100%;
  }

  .subtext-weekly{
    font-size: 1rem;
    line-height: 20px;
    padding-bottom: 40px;
    padding-right:20px;
    padding-left: 20px;
  }

  .footer{
    font-size: 1rem;
  }

  .brief-container {
    margin: auto;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 500px 500px 300px;
    justify-items: center;
  }

  .brief-asks{
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    max-width: 280px;
    max-height: 400px;
    font-size: 1.3rem;
  }
  .brief-brand{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 280px;
    max-height: 400px;
  }
  .brief-deliverables{
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    max-width: 280px;
    max-height: 400px;
  }
  
  .brief-brand-copy{
    padding-top: 5px;
    font-size: 1.2rem;
  }

   .brief-asks-header{
    font-size: 1.5rem;
  }

  .brief-asks-copy{
    font-size: 1.5rem;
  }
  
  h3{
    font-size: 4.5rem;
    line-height: 70px;
  }


  h2{
    font-size: 2rem;
    line-height: 40px;
  }

  .brief-label {
    opacity: 100;
    border-radius: 5px;
    padding-top: 10px;
    line-height: 25px;
    font-size: 1.5rem;
  }
  .archive-container{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 310px 310px 100px 100px ;
    gap: 9px;
    overflow: visible;
    justify-content: center;
    margin-right: 20px;
  } 
  .brief-card {
    text-decoration: none;
    width: 100px;
    height: 200px;
  }

  .subtext{
    color:#1E2054;
    margin: auto;
    padding-bottom: 25px;
    font-family: kit-rounded, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    font-style: normal;
    line-height: 20px;
  }

  .archive-brief-container{
    display: grid;
    column-count: 2;
    grid-template-columns: 200px 40px 100px;
    grid-template-rows: 205px 100px 0px;
    gap: 10px;
  }

  .archive-brief-title{
    margin-top: auto;
    text-align: center;
    font-size: 5rem;
    line-height: 60px;
  }

  .archive-container{
    padding-left: 0px;
    width: 70%;
    height: 40%;
    margin: auto;
    padding-top: 20px;
  }

  .archive-button{
    padding-left: 20px;
  }

  .brief-icon{
    width: 200px;
    height: 310px;
  }

  .archive-brand{
    margin: auto;
    grid-column: 1/ span 3;
    grid-row: 2;
    border-radius: 35px;
    width: 290px;
    font-size: 1.3rem;
    max-height: 50px;
  }
  .archive-live{
    grid-column: 1/ span 1;
    grid-row: 1 / span 1;
    padding: 5px 30px 40px 30px;
    width: 80px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 2rem;
  }

  .tag{
    margin: 0;
    font-size: 0.80rem;
    
  }
  .upload-tag{
    padding-bottom: 10px;
    padding-left: 15px;
  }

  .archive-image{
    grid-column: 2/ span 1;
    grid-row: 1/ span 1;
    width: 140px;
  }

  .archive-deliverables{
    grid-column: 1/ span 3;
    grid-row: 3/ span 1;
    border-radius: 45px;
    padding: 5px 30px 115px 30px;
    width: 300px;
    height: 60px;
    font-size: 0.98rem;
    border-radius: 40px;
  }

  .archive-nav{
    justify-content: center;
    margin: auto;
  }

  .nav-btn-prev {
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-back {
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

  .nav-btn-next {
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    border-radius: 40px;
    height: 30px;
  }

    .active-time{
    font-size: .9rem;
    line-height: 19px;
  }

  /* Gallery Responsive */
  .scroll-gallery-wrapper {
    width: 200%;
    max-width: 300px;
  }

  .gallery-container {
    display: flex;
    gap: 5px;
  }

  .gallery-item {
    width: 300px;
    height: 320px;
  }

  .scroll-btn {
    position:absolute;
    color: #1E2054;
  }
}
